/* #region Base styles */
ul, ol {
list-style-type: none;
}
/* #endregion */
/* #region Header */
.header {}

.nav {}

.logo {}

.nav-menu {}

.nav-menu-item {}

.nav-menu-link {}
/* #endregion */

/* #region Socials */
.socials {}

.socials-item {}

.socials-link {}
/* #endregion */

/* #region Hero */
.hero {}

.hero-title {}
/* #endregion */

/* #region Buttons */


.btn {}

.btn-accent {}
/* #endregion */

/* #region Benefits */
.benefits {}

.benefits-list {}

.benefits-item {}

.benefits-caption {}

.benefits-desc {}
/* #endregion */

/* #region Team */

.team {}

.team-title {}

.team-list {}

.team-item {}

.team-ill {}

.team-name {}

.team-subtitle {}
/* #endregion */

/* #region Portfolio */
.portfolio {}

.portfolio-title {}

.portfolio-list {}

.portfolio-item {}

.portfolio-ill {}

.portfolio-name {}

.portfolio-subtitle {}
/* #endregion */

/* #region Portfolio */
.footer {}

.footer-logo {}

.footer-slogan {}
/* #endregion */